.select {
    position: relative;
}  

.select .selectedSort {
    display: flex;
    align-items: baseline;
}

.select .selectedSort::after {
    content: '';
    width: 5px;
    height: 10px;
    display: block;
    background-image: url("../../../assets/arrow.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    margin-left: 8px;
    transition: .2s all ease-in;
}

.select.visibleMenu .dropdownMenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
}

.select.visibleMenu .selectedSort::after {
    transform: rotate(-90deg);
}

.select .dropdownMenu {
    opacity: 0;
    transform: translateY(-20px) scale(.93);
    visibility: hidden;
    top: 36px;
    left: -8px;
    width: max-content;
    z-index: 9999;
    position: absolute;
    transition: .2s all ease-in;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.select .dropdownMenu span {
    padding: 10px 15px;
    transition: .1s all ease-in;
    display: block;
}

.select .dropdownMenu span:hover {
    background: rgba(255, 255, 255, 0.17);
}