footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px !important;

    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .info-block {
            display: flex;
            flex-direction: column;
            max-width: 320px;

            &:not(.bio) .subtitle {
                line-height: 18px;
                transition: .05s all ease-in-out;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }

            .title {
                font-family: 'Lexend-Bold';
                font-size: 18px;
                line-height: 22px;
                text-transform: capitalize;
                color: #0E1735;
            }

            .subtitle {
                margin-top: 18px;
                font-family: 'Lexend-Regular';
                font-size: 14px;
                line-height: 24px;
                color: #626687;
                opacity: 0.75;

                &:first-of-type {
                    margin-top: 24px;
                }
            }

            .socials-box {
                margin-top: 24px;

                i {
                    display: inline-block;
                    margin-right: 32px;
                    width: 24px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    cursor: pointer;
                    transition: .25s all ease-out;

                    &:hover {
                        transform: scale(1.2);
                    }

                    &.facebook {
                        background-image: url("../assets/footer/facebook.svg");
                    }

                    &.twitter {
                        background-image: url("../assets/footer/twitter.svg");
                    }

                    &.instagram {
                        background-image: url("../assets/footer/instagram.svg");
                    }
                }
            }
        }
    }
}