nav {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    padding-right: 80px;
    margin-top: 40px;
    overflow: visible !important;

    .navbar {
        display: flex;
        align-items: center;
        margin-left: auto;

        .item {
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 16px;
            width: 100px;
            height: 34px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 32px;
            color: #F0F3FD;
            font-family: "Lexend-Regular";
            font-size: 14px;
            line-height: 18px;
            text-transform: capitalize;
            margin: 0 12px;
            transition: .4s all ease-in-out;

            &:hover {
                background: rgba(255, 255, 255, 0.18);
            }
        }

        button {
            margin: 0 28px;
            background-color: #D1FAE5;
            color: #047857;
            font-family: "Lexend-Bold";
            transition: .8s all ease-in;

            &:hover {
                background-color: #047857;
                color: #D1FAE5;
            }
        }
    }
}