.see-review {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;

    .head {
        padding: 0;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p {
                flex-direction: column;
                margin: 0;

                &::before {
                    margin: 0 0 8px;
                }
            }
        }
    }

    .content {
        width: 100%;
        margin-top: 40px;

        .slick-current .item img {
            opacity: 1;
        }

        .item {
            margin: 0 28px;
            display: inline-flex !important;
            flex-direction: column;
            align-items: center;

            img {
                width: 740px;
                height: 400px;
                opacity: .7;
                border-radius: 8px;
            }

            .comment-block {
                width: 612px;
                min-height: 249px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                border-radius: 16px;
                padding: 32px;
                margin-top: -145px;
                z-index: 1;

                .title {
                    font-family: "Lexend-Regular";
                    font-size: 20px;
                    line-height: 25px;
                    text-transform: capitalize;
                    color: #1B1C57;
                }

                .comment {
                    font-family: 'Lexend-Regular';
                    font-size: 14px;
                    line-height: 24px;
                    color: #626687;
                    opacity: 0.75;
                    margin-top: 16px;
                }

                .owner-wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 24px;

                    .owner {
                        display: flex;
                        align-items: center;

                        img {
                            width: 40px;
                            height: 40px;
                            margin-right: 24px;
                        }

                        .title {
                            font-family: "Lexend-Regular";

                            h1 {
                                font-size: 14px;
                                line-height: 22px;
                                color: #0E1735;
                            }

                            p {
                                font-size: 14px;
                                line-height: 22px;
                                color: #888B97;
                            }
                        }
                    }

                    .grade {
                        display: flex;
                        align-items: center;
                        font-family: 'Lexend-Regular';
                        font-size: 20px;
                        line-height: 28px;
                        color: #3C4563;

                        &::before {
                            content: '';
                            display: block;
                            margin-right: 18px;
                            width: 24px;
                            height: 24px;
                            background: no-repeat center/100% url("../assets/see-review/star.svg");
                        }
                    }
                }
            }
        }
    }
}