.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px !important;

    .content {
        width: 100%;
        border-radius: 32px;
        background: no-repeat center/100% url("../assets/subscribe-bc.svg");
        padding: 65px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .head {
            padding: 0;
            margin-bottom: 32px;

            .title {
                max-width: 422px;
                text-align: center;
            }
        }

        img {
            position: absolute;
            border: 2px solid #fff;
            border-radius: 24px;

            &.avatar {
                border-radius: 50%;
                width: 36px;
                height: 36px;
            }

            &.icon-1 {
                top: 38px;
                left: 44px;
                width: 81px;
                height: 81px;
            }

            &.icon-2 {
                bottom: 80px;
                left: 195px;
                width: 54px;
                height: 54px;
            }

            &.icon-3 {
                top: 44px;
                right: 200px;
                width: 70px;
                height: 70px;
            }

            &.icon-4 {
                bottom: 60px;
                right: 73px;
                width: 55px;
                height: 55px;
            }

            &.icon-5 {
                top: 173px;
                left: 67px;
            }

            &.icon-6 {
                top: 71px;
                left: 204px;
            }

            &.icon-7 {
                top: 143px;
                right: 200px;
            }

            &.icon-8 {
                top: 107px;
                right: 82px;
            }
        }
    }
}