@font-face {
  font-family: Lexend-Bold;
  src: url("../fonts/Lexend/Lexend-Bold.ttf");
}
@font-face {
  font-family: Lexend-Regular;
  src: url("../fonts/Lexend/Lexend-Regular.ttf");
}
@font-face {
  font-family: Lexend-Light;
  src: url("../fonts/Lexend/Lexend-Light.ttf");
}
header {
  width: 100%;
  display: flex;
  align-items: center;
}
header .header-title {
  width: 496px;
}
header .header-title .title {
  font-family: "Lexend-Bold";
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
  color: #1B1C57;
}
header .header-title .title span {
  color: #fff;
  -webkit-text-stroke: 1px #1B1C57;
}
header .header-title p {
  font-family: "Lexend-Regular";
  line-height: 28px;
  opacity: 0.75;
  color: #626687;
  margin: 24px 0;
}
header .header-title button::after {
  content: "";
  width: 7px;
  height: 14px;
  display: block;
  background-image: url("../assets/arrow.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 8px;
  transition: 0.2s all ease-in;
}
header .header-title .our-partner {
  margin-top: 32px;
  color: #888B97;
  line-height: 32px;
  font-family: "Lexend-Regular";
}
header .header-title .our-partner .partners-logo img {
  margin-right: 32px;
}
header .house {
  background-image: url("../assets/header/header-house.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 720px;
  height: 720px;
  border-radius: 0px 0px 0px 80px;
  margin-left: auto;
  position: relative;
}
header .house > img {
  position: absolute;
  left: 11%;
  top: 19%;
}
header .house .house-slider {
  position: absolute;
  bottom: 48px;
}
header .house .house-slider .slick-list {
  padding-left: 32px;
}
header .house .house-slider .slick-slide {
  margin: 0 16px;
}
header .house .house-slider .item {
  display: flex !important;
  align-items: center;
  padding: 24px;
  height: 104px;
  background-color: #fff;
  box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
  border-radius: 32px;
}
header .house .house-slider .item .photos {
  position: relative;
}
header .house .house-slider .item .photos img {
  width: 56px;
  height: 56px;
  border: 3px solid #fff;
  position: absolute;
  top: -30px;
  border-radius: 50%;
}
header .house .house-slider .item .title {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
header .house .house-slider .item .title h1 {
  font-family: "Lexend-Bold";
  line-height: 24px;
  color: #1B1C57;
  font-size: 16px;
}
header .house .house-slider .item .title p {
  font-family: "Lexend-Regular";
  font-size: 12px;
  line-height: 20px;
  color: #68799F;
}

nav {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  padding-right: 80px;
  margin-top: 40px;
  overflow: visible !important;
}
nav .navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
}
nav .navbar .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  width: 100px;
  height: 34px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  color: #F0F3FD;
  font-family: "Lexend-Regular";
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  margin: 0 12px;
  transition: 0.4s all ease-in-out;
}
nav .navbar .item:hover {
  background: rgba(255, 255, 255, 0.18);
}
nav .navbar button {
  margin: 0 28px;
  background-color: #D1FAE5;
  color: #047857;
  font-family: "Lexend-Bold";
  transition: 0.8s all ease-in;
}
nav .navbar button:hover {
  background-color: #047857;
  color: #D1FAE5;
}

.featured-house {
  width: 100%;
  padding-left: 120px !important;
}
.featured-house .category {
  display: flex;
}
.featured-house .category .item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  min-width: 135px;
  height: 52px;
  border: 1px solid #E0E3EB;
  border-radius: 32px;
  color: #888B97;
  font-size: 18px;
  line-height: 28px;
  font-family: "Lexend-Regular";
  margin: 0 16px;
  transition: 0.35s all ease-out;
}
.featured-house .category .item:hover {
  background: #e0e2e9;
}
.featured-house .category .item.active {
  background: #D1FAE5;
  color: #10B981;
  border-color: transparent;
}
.featured-house .category .item.active:hover {
  background: #c2e9d5;
}
.featured-house .category .item.active::before {
  filter: invert(52%) sepia(41%) saturate(3044%) hue-rotate(125deg) brightness(98%) contrast(87%);
}
.featured-house .category .item::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  filter: invert(62%) sepia(15%) saturate(219%) hue-rotate(191deg) brightness(86%) contrast(90%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 10px;
}
.featured-house .category .item:nth-of-type(1)::before {
  background-image: url("../assets/featured-house/category/item-1.svg");
}
.featured-house .category .item:nth-of-type(2)::before {
  background-image: url("../assets/featured-house/category/item-2.svg");
}
.featured-house .category .item:nth-of-type(3)::before {
  background-image: url("../assets/featured-house/category/item-3.svg");
}
.featured-house .arrow-box {
  width: 136px;
}
.featured-house .content .item {
  margin-right: 40px;
}
.featured-house .content-slider,
.featured-house .content {
  display: flex;
  margin-top: 40px;
  width: calc(100% + 240px);
}
.featured-house .content-slider .slick-prev,
.featured-house .content-slider .slick-next,
.featured-house .content .slick-prev,
.featured-house .content .slick-next {
  padding: 12px 16px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  left: inherit;
  width: 60px;
  height: 52px;
  right: 436px;
  top: -74px;
  border-radius: 32px;
  transition: 0.35s all ease-out;
}
.featured-house .content-slider .slick-prev::before,
.featured-house .content-slider .slick-next::before,
.featured-house .content .slick-prev::before,
.featured-house .content .slick-next::before {
  display: none;
}
.featured-house .content-slider .slick-prev::after,
.featured-house .content-slider .slick-next::after,
.featured-house .content .slick-prev::after,
.featured-house .content .slick-next::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 8px;
  height: 16px;
}
.featured-house .content-slider .slick-prev:first-of-type,
.featured-house .content-slider .slick-next:first-of-type,
.featured-house .content .slick-prev:first-of-type,
.featured-house .content .slick-next:first-of-type {
  background-color: #E0E3EB;
}
.featured-house .content-slider .slick-prev:first-of-type::after,
.featured-house .content-slider .slick-next:first-of-type::after,
.featured-house .content .slick-prev:first-of-type::after,
.featured-house .content .slick-next:first-of-type::after {
  filter: invert(97%) sepia(60%) saturate(429%) hue-rotate(177deg) brightness(97%) contrast(90%);
  transform: rotate(180deg);
  background-image: url("../assets/arrow.svg");
}
.featured-house .content-slider .slick-prev:first-of-type:hover,
.featured-house .content-slider .slick-next:first-of-type:hover,
.featured-house .content .slick-prev:first-of-type:hover,
.featured-house .content .slick-next:first-of-type:hover {
  background-color: #d4d7e0;
}
.featured-house .content-slider .slick-prev:last-of-type,
.featured-house .content-slider .slick-next:last-of-type,
.featured-house .content .slick-prev:last-of-type,
.featured-house .content .slick-next:last-of-type {
  right: 360px;
  background-color: #10B981;
}
.featured-house .content-slider .slick-prev:last-of-type::after,
.featured-house .content-slider .slick-next:last-of-type::after,
.featured-house .content .slick-prev:last-of-type::after,
.featured-house .content .slick-next:last-of-type::after {
  background-image: url("../assets/arrow.svg");
}
.featured-house .content-slider .slick-prev:last-of-type:hover,
.featured-house .content-slider .slick-next:last-of-type:hover,
.featured-house .content .slick-prev:last-of-type:hover,
.featured-house .content .slick-next:last-of-type:hover {
  background-color: #0d9e6d;
}
.featured-house .content-slider .item,
.featured-house .content .item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.featured-house .content-slider .item img,
.featured-house .content .item img {
  width: 340px;
  height: 382px;
  border-radius: 24px;
}
.featured-house .content-slider .item .chapter,
.featured-house .content .item .chapter {
  position: absolute;
  min-width: 111px;
  height: 34px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background: #FEE2E2;
  border-radius: 32px;
  font-family: "Lexend-Regular";
  font-size: 14px;
  line-height: 18px;
  left: 16px;
  top: 330px;
}
.featured-house .content-slider .item .chapter::before,
.featured-house .content .item .chapter::before {
  content: "";
  width: 12px;
  height: 13px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 12px;
}
.featured-house .content-slider .item .chapter.popular,
.featured-house .content .item .chapter.popular {
  color: #EF4444;
}
.featured-house .content-slider .item .chapter.popular::before,
.featured-house .content .item .chapter.popular::before {
  background-image: url("../assets/featured-house/slider-items/popular.svg");
}
.featured-house .content-slider .item .chapter.new-house,
.featured-house .content .item .chapter.new-house {
  color: #1D4ED8;
}
.featured-house .content-slider .item .chapter.new-house::before,
.featured-house .content .item .chapter.new-house::before {
  background-image: url("../assets/featured-house/slider-items/new.svg");
}
.featured-house .content-slider .item .chapter.best-deals,
.featured-house .content .item .chapter.best-deals {
  color: #047857;
}
.featured-house .content-slider .item .chapter.best-deals::before,
.featured-house .content .item .chapter.best-deals::before {
  background-image: url("../assets/featured-house/slider-items/best-deals.svg");
}
.featured-house .content-slider .item .title,
.featured-house .content .item .title {
  font-family: "Lexend-Regular";
  line-height: 32px;
}
.featured-house .content-slider .item .title .name,
.featured-house .content .item .title .name {
  font-size: 24px;
  color: #0E1735;
  margin: 24px 0 8px;
}
.featured-house .content-slider .item .title .price,
.featured-house .content .item .title .price {
  font-size: 20px;
  color: #3C4563;
}
.featured-house .content-slider .item .owner,
.featured-house .content .item .owner {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.featured-house .content-slider .item .owner img,
.featured-house .content .item .owner img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
.featured-house .content-slider .item .owner .title,
.featured-house .content .item .owner .title {
  font-family: "Lexend-Regular";
}
.featured-house .content-slider .item .owner .title h1,
.featured-house .content .item .owner .title h1 {
  font-size: 18px;
  line-height: 24px;
  color: #0E1735;
}
.featured-house .content-slider .item .owner .title p,
.featured-house .content .item .owner .title p {
  font-size: 14px;
  line-height: 22px;
  color: #888B97;
}

.ready-sell {
  width: 100%;
  display: flex;
  padding-left: 120px !important;
  overflow: visible !important;
}
.ready-sell .content {
  width: 50%;
}
.ready-sell .content .subtitle {
  max-width: 420px;
  margin-top: 16px;
  font-family: "Lexend-Regular";
  color: #626687;
  line-height: 28px;
  opacity: 0.75;
}
.ready-sell .content .details {
  display: flex;
  flex-wrap: wrap;
}
.ready-sell .content .details .title {
  width: 100%;
  font-family: "Lexend-Regular";
  line-height: 28px;
  color: #1B1C57;
  opacity: 0.75;
  margin-top: 16px;
}
.ready-sell .content .details .item {
  width: 50%;
  font-family: "Lexend-Regular";
  line-height: 20px;
  text-transform: capitalize;
  color: #3C4563;
  margin-top: 22px;
  display: flex;
  align-items: center;
}
.ready-sell .content .details .item::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.ready-sell .content .details .item:nth-of-type(1)::before {
  background-image: url("../assets/ready-sell/details-icon/bedroom.svg");
}
.ready-sell .content .details .item:nth-of-type(2)::before {
  background-image: url("../assets/ready-sell/details-icon/bathroom.svg");
}
.ready-sell .content .details .item:nth-of-type(3)::before {
  background-image: url("../assets/ready-sell/details-icon/parking.svg");
}
.ready-sell .content .details .item:nth-of-type(4)::before {
  background-image: url("../assets/ready-sell/details-icon/floor.svg");
}
.ready-sell .content hr {
  width: 440px;
  border: 1px solid #F0F3FD;
  margin: 32px 0;
}
.ready-sell .content .contact-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ready-sell .content .contact-container .owner {
  display: flex;
  align-items: center;
}
.ready-sell .content .contact-container .owner img {
  width: 56px;
  height: 56px;
  margin-right: 24px;
}
.ready-sell .content .contact-container .owner .title {
  font-family: "Lexend-Regular";
}
.ready-sell .content .contact-container .owner .title h1 {
  font-size: 18px;
  line-height: 24px;
  color: #0E1735;
}
.ready-sell .content .contact-container .owner .title p {
  font-size: 16px;
  line-height: 22px;
  color: #888B97;
}
.ready-sell .content .contact-container button::before {
  content: "";
  margin-right: 20px;
  width: 14px;
  height: 20px;
  display: block;
  background: no-repeat center/100% url("../assets/ready-sell/contact.svg");
}
.ready-sell .img-slider {
  width: 100%;
}
.ready-sell .img-slider img {
  width: 488px;
  height: 416px;
}
.ready-sell .img-box {
  width: 50%;
  max-width: 488px;
  position: relative;
}
.ready-sell .img-box .house {
  border-radius: 4px;
  position: absolute;
}
.ready-sell .img-box .house-1 {
  width: 488px;
  height: 416px;
  display: none;
}
.ready-sell .img-box .house-2 {
  width: 296px;
  height: 168px;
  bottom: -43px;
  left: -40px;
}
.ready-sell .img-box .house-3 {
  width: 96px;
  height: 80px;
  bottom: -43px;
  right: 124px;
}
.ready-sell .img-box .house-4 {
  width: 96px;
  height: 80px;
  bottom: -43px;
  right: 20px;
}
.ready-sell .img-box:hover .play-video {
  display: block;
}
.ready-sell .img-box .play-video {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: none;
}

.see-review {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.see-review .head {
  padding: 0;
}
.see-review .head .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.see-review .head .title p {
  flex-direction: column;
  margin: 0;
}
.see-review .head .title p::before {
  margin: 0 0 8px;
}
.see-review .content {
  width: 100%;
  margin-top: 40px;
}
.see-review .content .slick-current .item img {
  opacity: 1;
}
.see-review .content .item {
  margin: 0 28px;
  display: inline-flex !important;
  flex-direction: column;
  align-items: center;
}
.see-review .content .item img {
  width: 740px;
  height: 400px;
  opacity: 0.7;
  border-radius: 8px;
}
.see-review .content .item .comment-block {
  width: 612px;
  min-height: 249px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 32px;
  margin-top: -145px;
  z-index: 1;
}
.see-review .content .item .comment-block .title {
  font-family: "Lexend-Regular";
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #1B1C57;
}
.see-review .content .item .comment-block .comment {
  font-family: "Lexend-Regular";
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
  margin-top: 16px;
}
.see-review .content .item .comment-block .owner-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.see-review .content .item .comment-block .owner-wrapper .owner {
  display: flex;
  align-items: center;
}
.see-review .content .item .comment-block .owner-wrapper .owner img {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}
.see-review .content .item .comment-block .owner-wrapper .owner .title {
  font-family: "Lexend-Regular";
}
.see-review .content .item .comment-block .owner-wrapper .owner .title h1 {
  font-size: 14px;
  line-height: 22px;
  color: #0E1735;
}
.see-review .content .item .comment-block .owner-wrapper .owner .title p {
  font-size: 14px;
  line-height: 22px;
  color: #888B97;
}
.see-review .content .item .comment-block .owner-wrapper .grade {
  display: flex;
  align-items: center;
  font-family: "Lexend-Regular";
  font-size: 20px;
  line-height: 28px;
  color: #3C4563;
}
.see-review .content .item .comment-block .owner-wrapper .grade::before {
  content: "";
  display: block;
  margin-right: 18px;
  width: 24px;
  height: 24px;
  background: no-repeat center/100% url("../assets/see-review/star.svg");
}

.tips-trick {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tips-trick .head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tips-trick .head .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 422px;
  text-align: center;
}
.tips-trick .head .title p {
  flex-direction: column;
  margin: 0;
}
.tips-trick .head .title p::before {
  margin: 0 0 8px;
}
.tips-trick .head button {
  margin: 24px 0 0;
}
.tips-trick .content {
  width: 100%;
  margin-top: 42px;
  display: flex;
}
.tips-trick .content .list-items {
  width: 45%;
}
.tips-trick .content .list-items .item,
.tips-trick .content .item-wrapper .item {
  display: flex;
  margin-bottom: 42px;
}
.tips-trick .content .list-items .item .item-img,
.tips-trick .content .item-wrapper .item .item-img {
  width: 200px;
  height: 144px;
  border-radius: 16px;
  margin-right: 32px;
}
.tips-trick .content .list-items .item .info .owner,
.tips-trick .content .item-wrapper .item .info .owner {
  display: flex;
  align-items: center;
}
.tips-trick .content .list-items .item .info .owner img,
.tips-trick .content .item-wrapper .item .info .owner img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
.tips-trick .content .list-items .item .info .owner .name,
.tips-trick .content .item-wrapper .item .info .owner .name {
  font-family: "Lexend-Light";
  font-size: 14px;
  line-height: 22px;
  color: #3C4563;
}
.tips-trick .content .list-items .item .info .title,
.tips-trick .content .item-wrapper .item .info .title {
  margin: 16px 0;
  font-family: "Lexend-Regular";
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1B1C57;
}
.tips-trick .content .list-items .item .info .time-date,
.tips-trick .content .item-wrapper .item .info .time-date {
  font-family: "Lexend-Regular";
  font-size: 14px;
  line-height: 24px;
  color: #888B97;
  display: flex;
  align-items: center;
}
.tips-trick .content .list-items .item .info .time-date::before,
.tips-trick .content .item-wrapper .item .info .time-date::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 14px;
  background: no-repeat center/100% url("../assets/tips-trick/oclock-item.svg");
}
.tips-trick .content .item-wrapper {
  width: 55%;
  padding-left: 50px;
}
.tips-trick .content .item-wrapper .item {
  display: flex;
  margin-bottom: 42px;
  flex-direction: column;
}
.tips-trick .content .item-wrapper .item .item-img {
  width: 560px;
  height: 280px;
  margin-bottom: 24px;
}
.tips-trick .content .item-wrapper .item .info {
  padding-right: 120px;
}
.tips-trick .content .item-wrapper .item .info .title {
  font-size: 24px;
}
.tips-trick .content .item-wrapper .item .info .subtitle {
  font-family: "Lexend-Regular";
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 16px;
}

.subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px !important;
}
.subscribe .content {
  width: 100%;
  border-radius: 32px;
  background: no-repeat center/100% url("../assets/subscribe-bc.svg");
  padding: 65px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.subscribe .content .head {
  padding: 0;
  margin-bottom: 32px;
}
.subscribe .content .head .title {
  max-width: 422px;
  text-align: center;
}
.subscribe .content img {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 24px;
}
.subscribe .content img.avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.subscribe .content img.group-1 {
  top: 38px;
  left: 44px;
  width: 81px;
  height: 81px;
}
.subscribe .content img.group-2 {
  bottom: 80px;
  left: 195px;
  width: 54px;
  height: 54px;
}
.subscribe .content img.group-3 {
  top: 44px;
  right: 200px;
  width: 70px;
  height: 70px;
}
.subscribe .content img.group-4 {
  bottom: 60px;
  right: 73px;
  width: 55px;
  height: 55px;
}
.subscribe .content img.group-5 {
  top: 173px;
  left: 67px;
}
.subscribe .content img.group-6 {
  top: 71px;
  left: 204px;
}
.subscribe .content img.group-7 {
  top: 143px;
  right: 200px;
}
.subscribe .content img.group-8 {
  top: 107px;
  right: 82px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px !important;
}
footer .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .info-block {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
footer .content .info-block:not(.bio) .subtitle {
  line-height: 18px;
  transition: 0.05s all ease-in-out;
  cursor: pointer;
}
footer .content .info-block:not(.bio) .subtitle:hover {
  opacity: 1;
}
footer .content .info-block .title {
  font-family: "Lexend-Bold";
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #0E1735;
}
footer .content .info-block .subtitle {
  margin-top: 18px;
  font-family: "Lexend-Regular";
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
}
footer .content .info-block .subtitle:first-of-type {
  margin-top: 24px;
}
footer .content .info-block .socials-box {
  margin-top: 24px;
}
footer .content .info-block .socials-box i {
  display: inline-block;
  margin-right: 32px;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: 0.25s all ease-out;
}
footer .content .info-block .socials-box i:hover {
  transform: scale(1.2);
}
footer .content .info-block .socials-box i.facebook {
  background-image: url("../assets/footer/facebook.svg");
}
footer .content .info-block .socials-box i.twitter {
  background-image: url("../assets/footer/twitter.svg");
}
footer .content .info-block .socials-box i.instagram {
  background-image: url("../assets/footer/instagram.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  max-width: 100vw;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background-color: #888B97;
  border-radius: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  max-width: 1440px;
  padding-left: 80px;
  overflow: hidden;
}

section.row {
  margin-top: 120px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 120px;
}
.head .title p {
  color: #F59E0B;
  font-family: "Lexend-Regular";
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-left: -40px;
}
.head .title p::before {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  background-color: #F59E0B;
  margin-right: 8px;
}
.head .title h1 {
  color: #1B1C57;
  font-family: "Lexend-Regular";
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  margin-top: 12px;
}/*# sourceMappingURL=App.css.map */